/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



/* HEADER SECTION */
.header {
      width: 100%;
      height: 100vh;
      background-image: url("assets/backgrounds/h_img.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
}

.hero {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.hero-title {
      font-family: 'Roboto', sans-serif;
      font-size: 64px;
      color: white;
      line-height: 100px;
}

.hero-sub {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      color: white;
}

.scroller {
      position: absolute;
      left: 50%;
      bottom: -40%;
      cursor: pointer;
      animation: bounce 2s infinite;
}

@keyframes bounce {
      50% {
            bottom: -30%;
      }

      75% {
            bottom: -40%;
      }


}


@media (max-width: 320px) {

      .hero-title {
            font-size: 30px;
            line-height: 40px;
            width: 400px;
      }
}

/* ABOUT SECTION */

.about-title {
      font-size: 38px;
      font-family: "Roboto", sans-serif;
}

.about-desc {
      font-size: 20px;
      line-height: 50px;
}

/* SERVICES SECTION */

.services {
      width: 100%;
      background-image: url("assets/backgrounds/s_image.jpg");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
}

.services-wrapper {
      margin: 50px auto;
}

.services-title {
      font-size: 38px;
      color: white;
}

.services-desc {
      font-size: 20px;
      color: white;
      line-height: 50px;
}

/* WHAT WE DO SECTION */

.wwd-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
}

.wwd-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      margin-bottom: 30px;
}

.wwd-heading {
      font-size: 38px;
}

.wwd-title {
      font-size: 20px;
}

/* PORTFOLIO SECTION */

.p-container {
      width: 80%;
      margin: 0 auto;
}

.portfolio-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
}

.p-card {
      margin-bottom: 40px;
}

/* CONTACT SECTION */

.contact {
      width: 100%;
      background-image: url("assets/backgrounds/c_image.jpg");
}

.contact-heading {
      font-size: 38px;
      color: white;
}

.inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
}

.input {
      width: 620px;
      height: 70px;
      background-color: transparent;
      color: white;
      margin-bottom: 10px;
}

.input::placeholder { 
      color: white;
}

.input:focus {
      background-color: transparent;
      color: white;
      outline: 3px solid #c77447;
      border: none;
}

.msg {
      background-color: transparent;
      width: 100%;
      height: 250px;
}

.msg::placeholder {
      color: white;
}

.msg:focus {
      background-color: transparent;
      color: white;
      outline: 3px solid #c77447;
      border: none;
}


.send-btn {
      width: 100%;
      margin: 0 auto;
      margin-top: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 24px;
      text-transform: uppercase;
}

